#buttons-view,
    div,
    form,
    input
    .animal-btn
    /* #add-animal, */
    #animal-form  {
      margin: 10px;
    }

    .animal-btn {
      margin: 10px;
      background-color: black;
      color: white;
      border-radius: 5px;
  }
  #add-animal {
    background-color:black;
    color: white;
    border-radius: 5px;
}

  #add-label{
    background-color: black;
    color: white;
  }
  #animal-form {
    float: right;
  }
  #animal-input{
    float: center;
    font-weight: bolder;
    background-color:black;
    color: white;
  }
  .animal-output{
    float: left;
  }
 

  #add-animal {
    float: left;
    margin-top: 10px;
    

  }
  
  body{
    background-image: url(http://www.yunlinplay.tw/gimg/f/95/951435_purple-geometric-wallpaper.jpg);
    background-size: cover;
  }

  h1{
    font-weight: bolder;
    color: purple;
  }
  h3{
    color:white;
    font-weight: bolder;
  }
